<div class="form-new mt-3 col-12 col-md-10 col-lg-8">
  <h1>Create a new category</h1>

  <%= simple_form_for @category do |f| %>
    <%= f.input :name, class: 'mb-3'%>
    <%= f.button :submit, class: "mb-3 btn-primary" %>
  <% end %>
</div>